footer {
  background-color: lightblue;
  position: absolute;
}

body{
  background: linear-gradient(yellow, red);
  background-size: 100%;
}

header{
  position: relative;
  background: brown;
  padding: 15px;
  font-weight: bold;
  border-bottom: 1px solid blue;
  border-top: 1px solid blue;
}

div{
  text-align: center;
}

body header a{
  text-align: right;
}

#getout {
  position: absolute;
  right: 0;
  padding: 15px;
}
section{
  background: tan;
  padding: 20px;
  box-shadow: 0 2px 4px gray;
  float: left;
  margin-left: 50px;
}


#whoami{
  position: absolute;
  left:0px;
  padding:15px;
}

.selected {

  color: blue;

}
