<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two|Raleway:500" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
    <title> About Us! </title>
    </head>
    <header>
    <div class="topnav" id="myTopnav">
       <a href="/myprofile">My Profile</a>
       <a href="/">Home</a>
       <a href="/aboutus">About Us</a>
       <a id="getout" href="{{logout_url}}"> Log Out </a>
     </div>

     <h1 style="text-align:center;"> Meet the Creators of Kindling</h1>
  </header>
  <body>

    <h2>Thomas Estrada</h2><br>
    <h4> la la la a little bit about me and a photo </h4>
<br>
    <h2>Kayla Vokt </h2><br>
    <h4> la la la a little bit about me and a photo </h4>
<br>
    <h2>Jordan White</h2><br>
    <h4> la la la a little bit about me and a photo </h4>





  </body>
</html>
