<!DOCTYPE html>
<html>
  <head>
    <title>Artist name</title>
    <link href="stylesheets/style.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  </head>
  <input type="button" onclick="location.href='/';" value="Back to Home" /> <br><br>
  <body>

            <template id="dataContainer" data-like-state='{{like_state}}'></template>

            Name: {{artist.name}} <br>
            Genre: {{artist.genre}} <br>
            Image: <img src="{{artist.image}}" alt="image of {{artist.name}}" style="width:250px;height:250px;"></img>
              <br><br>

              <!-- TODO: Attach a click handler to each of these buttons -->
              <a class='like-button' onclick="clickLike('liked', '{{artist.key.urlsafe()}}')">
                <i class="material-icons">thumb_up</i>
              </a>
              <a class='dislike-button' onclick="clickLike('disliked', '{{artist.key.urlsafe()}}')">
                <i class="material-icons">thumb_down</i>
              </a>

    <br><br>
  </body>
  <footer>

    <div id="photo-container">

    {% for photo in photos %}

      <div class="photo">
        <h2>{{ photo.title }}</h2>
        <img src="{{ photo.photo_url }}" alt="Photo of {{ photo.title }}">
        <div class="like_status-container">
          <button value="{{ photo.key.urlsafe() }}">Like</button>
          <span class="likes">{{ photo.like_status }}</span> likes
        </div>
      </div>

    {% endfor %}

    </div>


  </footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/scripts/buttons.js"></script>
</html>
