<!DOCTYPE html>
<html>
  <head>
    <title> Kinding Home</title>
  </head>
  <!-- <input type="button" onclick="location.href='/';" value="Log Out" /> -->
  <link href="stylesheets/style.css" rel="stylesheet">

  {% if current_user %}
  <header>
    <input type="button" onclick="location.href='/profile';" value="Profile" />
    <a id="getout"href="{{logout_url}}"> Log Out__ </a><br>
    <div>
      <h1>HomePage</h1>
    </div>
  </header>
<body>
  Welcome, {{current_user}}!<br><br>
  <h3>Check out these artists!</h3><br>
  <a href="/artist"> Artist </a> <br><br>

</body>

<p>
  <a href="{{logout_url}}"> Log Out </a><br>

  {% else %}
<header>
  <div>
   <h1>Kindling</h1>
 </div>
 </header>
 <div>
<h2>The platform where you can discover new artists.</h2>
 </div>
<br>
 <div>
  <a href="{{login_url}}"> Log In </a><br>
</div>

  {% endif %}
</p>

</html>
