<!DOCTYPE html>
<html>
  <head>
    <title> Kinding Home</title>
  </head>
  <!-- <input type="button" onclick="location.href='/';" value="Log Out" /> -->
  <link href="stylesheets/style.css" rel="stylesheet">

  {% if current_user %}
  <header>
    <input id="whoami"type="button" onclick="location.href='/myprofile';" value=" My Profile" />
    <a id="getout" href="{{logout_url}}"> Log Out </a><br>
    <div>
      <h1>HomePage</h1>
    </div>
  </header>
<body>
  Welcome, {{current_user}}!<br><br>
  <h3>Check out these artists!</h3><br>

  {% for artist in artists %}
        <section style="width:160px;height190px;">
          Name: <a href="/artist?key={{artist.key.urlsafe() }}">{{artist.name}}</a> <br>
          <img src="{{artist.image}}" alt="image of {{artist.name}}" style="width:160px;height:160px;"></img>
        </section>
            <br><br>

        {% endfor %}


  <!-- {% for item in artist %}

<a href="/artist?key={{item.key.urlsafe() }}"> Artist </a> <br><br>

Image: <img src="{{artist.image}}" alt="image of {{artist.name}}"></img>

  {% endfor %} -->
</body>

<p>

  {% else %}
<header>
  <div>
   <h1>Kindling</h1>
 </div>
 </header>
 <div>
<h2>The platform where you can discover new artists.</h2>
 </div>
<br>

<div>
<img src = "images/fire.png" alt="image of fox"></img>
</div>
 <div>
  <a href="{{login_url}}"> Log In </a><br>
</div>

  {% endif %}
</p>

</html>
