<!DOCTYPE html>
<html>
<link href="stylesheets/style.css" rel="stylesheet">
  <head>
    <title> Your Name Here</title>
  </head>

  <header>
    <div>
    <h1>Profile<h1>
    </div>
  </header>
  <body>
    <h3>Name: {{current_user}}</h3>
    <form action="/profile" method="post">
      <h3>Bio: </h3>
      <textarea  placeholder="Write about yourself! " name="blurb" rows="8" cols="80"></textarea><br>
      <input type="submit" >
    </form>
    <h3>List of Likes</h3>
    <h3>List of Dislikes</h3>
  <input type="button" onclick="location.href='/';" value="Back to Home" /> <br><br>
  </body>
</html>
